In [2]:
#overwrite
x=9
x=8
print(x)
b='inza'
b='hobi'
print(b)

8
hobi

In [5]:
# creating a list
a=["inza","rabia","ramza"]
print(a)
b=["red","black","blue","green"]
print(b)
c=["age",56,9.0] # we are using here different datatype value and store in one vaiable
print(c)

['inza', 'rabia', 'ramza']
['red', 'black', 'blue', 'green']
['age', 56, 9.0]

In [6]:
a=[]
print(a)

[]

In [7]:
# we are already using list in for loop
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [10]:
#list and definit loops are best friend/pals
friends=["inza","seokjin","j-hope","yunki","Rm","v","jk"]
for i in friends:
    print("Happy new year 2024 my friend",i)

Happy new year 2024 my friend inza
Happy new year 2024 my friend seokjin
Happy new year 2024 my friend j-hope
Happy new year 2024 my friend yunki
Happy new year 2024 my friend Rm
Happy new year 2024 my friend v
Happy new year 2024 my friend jk

In [14]:
#looking inside the list each element have index
friends=["inza","rabia","ramza"]
print(friends[0])
print(friends[1])
print(friends[2])

inza
rabia
ramza

In [15]:
#Strings re immutable we cannaot change it
fruit='banana'
fruit[0]='B'

TypeError: 'str' object does not support item assignment

In [16]:
# we are usinh here lower and upper fun
fruit='banana'
a=fruit.upper()
print(a)

BANANA

In [17]:
# change the elemnts of list
a=[1,2,3,4,5]
a[4]=10
print(a)

[1, 2, 3, 4, 10]

In [19]:
#using len fun()
a='inza'
print(len(a))
b=["inza",90,8.0]
print(len(b))

4
3

In [22]:
#using range()fun
a=["inza","rabia","ali","ahmad"]
print(len(a))

4

In [27]:
print(range(4))
friends = ['Joseph', 'Glenn', 'Sally']
print(len(friends))
print(range(len(friends)))

range(0, 4)
3
range(0, 3)

In [29]:
friend=["inza","rabia","ramza"]
for i in friend:
    print("happy new yaer",i)

happy new yaer inza
happy new yaer rabia
happy new yaer ramza

In [30]:
friend=["inza","rabia","ramza"]
for i in range(len(friend)):
    i=friend[i]
    print("happy new year",i)

happy new year inza
happy new year rabia
happy new year ramza

In [31]:
#concatination
a=[1,2,3]
b=["ina","mijiwo","inza"]
c=a+b
print(c)

[1, 2, 3, 'ina', 'mijiwo', 'inza']

In [33]:
#slice operator in ,list
a=[1,2,3,4,5,6,7,8,9,10]
a[1:7]

[2, 3, 4, 5, 6, 7]

In [34]:
a=[1,2,3,4,5,6,7,8,9,10]
a[9:10]

[10]

In [35]:
a=[1,2,3,4,5,6,7,8,9,10]
a[:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
a=[1,2,3,4,5,6,7,8,9,10]
a[9:]

[10]

In [37]:
a=[1,2,3,4,5,6,7,8,9,10]
a[1:]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# building a new list and using append fun()
a=list()
a.append('Inza')
a.append('Book')
print(a)
a.append(190000)
print(a)
print(len(a))

['Inza', 'Book']
['Inza', 'Book', 190000]
3

In [4]:
# check the list value is in list or not using laogical operator
a=[1,2,3,4,5,5,6,7,8]
9 in a

False

In [5]:
# check the list value is in list or not using laogical operator
a=[1,2,3,4,5,5,6,7,8]
6 in a

True

In [6]:
a=[1,2,3,4,5,5,6,7,8]
print(a)

[1, 2, 3, 4, 5, 5, 6, 7, 8]

In [7]:
a=["gucci","channel","clavin","Lv"]
print(a)
a.sort()
print(a)

['gucci', 'channel', 'clavin', 'Lv']
['Lv', 'channel', 'clavin', 'gucci']

In [8]:
#using build in fun in list
a=[1,2,3,4,5,6,7,8,9,0,10]
print(len(a))
print(max(a))
print(min(a))
print(sum(a))
print(sum(a)/len(a))

11
10
0
55
5.0

In [10]:
total=0
count=0
while True:
    inp= input("enter a  number")
    if inp == 'done':
        break
    value=float(inp)
    total=total+value
    count=count+1
avg=total/count
print("average",avg)

enter a  number7.0
enter a  number9.0
enter a  number10
enter a  numberdone
average 8.666666666666666

In [11]:
#some upper program through list
a=list()
while True:
    inp=input("enter a number")
    if inp == 'done':
        break
    value=float(inp)
    a.append(value)
avg=sum(a)/len(a)
print("average",avg)

enter a number10
enter a number20
enter a number30
enter a number40
enter a number50
enter a numberdone
average 30.0

In [14]:
a="my name is inza"
b=a.split()
print(b)
print(len(b))
print(b[0])
for w in b:
    print(w)

['my', 'name', 'is', 'inza']
4
my
my
name
is
inza

In [21]:
a="my:name:is:inza"
b=a.split()
print(b)
print(len(b))
b=a.split(':')
print(b)

['my:name:is:inza']
1
['my', 'name', 'is', 'inza']

In [29]:
a="my name is inza and am bts army"
b=a.split()
print(b)

['my', 'name', 'is', 'inza', 'and', 'am', 'bts', 'army']

In [18]:
a="my             name          is       inza"
b=a.split()
print(b)

['my', 'name', 'is', 'inza']